body {
	position: relative;
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.global-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-anchor: middle;
}
.legend line {
  stroke: #000;
  shape-rendering: crispEdges;
}